{{abe type='data' key='hubs' desc='' source='select title,image,description from / where template=article ORDER BY date ASC' editable="false" tab='default' paginate="10"}}

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">
									{{#each hubs}}
										<section>
											<a href="{{abe_meta.link}}" class="image featured"><img src="{{image}}" alt="" /></a>
											<header>
												<h3>{{title}}</h3>
											</header>
											<p>{{description}}</p>
										</section>
									{{/each}}

								</div>
							</div>

							{{#each abe_meta.paginate.hubs.links}}
								<a href="{{this.link}}"
								{{#ifCond index @root.abe_meta.paginate.hubs.current}}style="color: red"{{/ifCond}}
								>{{index}}</a>
							{{/each}}

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>